<po-divider></po-divider>
<div>
  <div class="po-row">
  
  <div class="po-xl-6 po-lg-6 po-md-6 po-sm-6">
    <div class="po-row">
      <po-combo class="po-md-4" name="classifica" p-label="Classificação" [p-options]="[{ value: 'Option 1' }, { value: 'Option 2' }]"> </po-combo>
      <po-combo class="po-md-4" name="tipo" p-label="Tipo de Produto" [p-options]="[{ value: 'Option 1' }, { value: 'Option 2' }]"> </po-combo>
      <po-combo class="po-md-4" name="grupo" p-label="Grupo de produto" [p-options]="[{ value: 'Option 1' }, { value: 'Option 2' }]"> </po-combo>
    </div>
  </div>
  
  <div class="po-xl-6 po-lg-6 po-md-6 po-sm-6">
    <po-button class="po-md-4" p-label="Sair" (p-click)="onClick()"> </po-button>
    <po-button class="po-md-4" p-label="Enviar p/ Protheus" (p-click)="click1()"> </po-button>
    <po-button class="po-md-4" p-label="Receber do Protheus"(p-click)="click2()"></po-button>
  </div>
</div>
  <po-divider></po-divider>
  <po-table 
  [p-columns]="columns"
  [p-items]="items"
  [p-selectable] ="true"
  [p-hide-select-all]="true"
  [p-single-select]="true"
  [p-selectable-entire-line]="true"
  (p-selected)="click3($event)"
  > </po-table>
  <po-divider></po-divider>
</div>

<po-modal #modalRuptura >   
</po-modal>
  <div class="po-row">
  <po-chart
  class="po-xl-6 po-lg-6 po-md-6 po-sm-6"
  p-title="FABRICADO>PA>VESTUARIO>TAMANHO36"
  [p-options]="chartAreaOptions"
  [p-categories]="chartAreaCategories"
  [p-series]="chartAreaSeries"
  >
</po-chart>
</div>

