<po-divider></po-divider>
<div>
  <div class="po-row">
  
  <div class="po-xl-8 po-lg-8 po-md-8 po-sm-8">
    <div class="po-row">
      <po-combo class="po-md-4" name="classifica" p-label="Classificação" [p-options]="[{ value: 'Option 1' }, { value: 'Option 2' }]"> </po-combo>
      <po-combo class="po-md-4" name="tipo" p-label="Tipo de Produto" [p-options]="[{ value: 'Option 1' }, { value: 'Option 2' }]"> </po-combo>
      <po-combo class="po-md-4" name="grupo" p-label="Grupo de produto" [p-options]="[{ value: 'Option 1' }, { value: 'Option 2' }]"> </po-combo>
    </div>
  </div>
  <div class="po-xl-2 po-lg-2 po-md-2 po-sm-2"></div>
  <div class="po-xl-2 po-lg-2 po-md-2 po-sm-2">
    <po-button  p-label="Sair" (p-click)="onClick()"> </po-button>
  </div>
</div>
  <po-divider></po-divider>
  <po-table 
  [p-columns]="columns"
  [p-items]="items"
  [p-selectable] ="true"
  [p-hide-select-all]="true"
  [p-single-select]="true"
  [p-selectable-entire-line]="true"
  (p-selected)="makeChart($event)"
  > </po-table>
  <po-divider></po-divider>
  
</div>

<po-modal #modalRuptura>  
  <div class="po-row">
    <div class="po-xl-8 po-lg-8 po-md-8 po-sm-8">
    <po-info p-label="GRAFICO DE RUPTURA" 
    [p-value]="chartTitle"> </po-info>
  </div>
  <div class="po-xl-4 po-lg-4 po-md-4 po-sm-4">
  <po-switch
  name="switch"
  p-label="Acurácia Quantidade: 95,00%"
  p-label-off=" intervalo de confiança invisível"
  p-label-on=" intervalo de confiança visível"
  (p-change)="changeEvent('p-change')"
  >
  </po-switch>
  </div>
</div> 
  <canvas #myChart width="600" height="300">não há dados suficientes</canvas>
</po-modal>
 
